[submodule "projects/kayaba-broadway"]
	path = projects/kayaba-broadway
	url = git@github.com:study-basic-hackathon/kayaba-broadway.git
[submodule "projects/aozora-map"]
	path = projects/aozora-map
	url = git@github.com:TakuHackathons/BlueSkyHackathon202604.git
[submodule "projects/passport-nft"]
	path = projects/passport-nft
	url = git@github.com:TakuHackathons/HackSonic202603-passport-nft.git
[submodule "projects/research-examples"]
	path = projects/research-examples
	url = git@github.com:TakuKobayashi/research-examples.git
[submodule "projects/background-speech-recognizer"]
	path = projects/background-speech-recognizer
	url = git@github.com:TakuKobayashi/background-speech-recognizer.git
[submodule "projects/tappunpages"]
	path = projects/tappunpages
	url = git@github.com:TakuKobayashi/tappunpages.git
[submodule "projects/tappun-app-studio"]
	path = projects/tappun-app-studio
	url = git@github.com:TakuKobayashi/tappun-app-studio.git
[submodule "projects/medicine-manager-app"]
	path = projects/medicine-manager-app
	url = git@github.com:TakuKobayashi/medicine-manager-app.git
