[submodule "projects/kayaba-broadway"]
	path = projects/kayaba-broadway
	url = git@github.com:study-basic-hackathon/kayaba-broadway.git
[submodule "projects/aozora-map"]
	path = projects/aozora-map
	url = git@github.com:TakuHackathons/BlueSkyHackathon202604.git
[submodule "projects/passport-nft"]
	path = projects/passport-nft
	url = git@github.com:TakuHackathons/HackSonic202603-passport-nft.git
